<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff"> 
</head>

<body>
  <div id="main">
    <textarea  class="maintext scroll" id="maintext" placeholder="type your stuff here">Hello how are you </textarea>
  </div>
</body>
</html>
